<div class="row">
  <% if %>
    <div id="app">
    </div>
  <% else %>
    <div class="column text-center">
      <div class="secondary">Welcome to Bookkeeper</div>
      <div class="secondary">Make an account or sign in to get started.<div>
    </div>
  <% end %>
</div>
