/* Coolors Exported Palette - coolors.co/120309-fcdebe-4f5d75-2e0f15-757780 */

/* HSL */
// $smoky-black: hsla(336%, 71%, 4%, 1);
// $very-pale-orange: hsla(31%, 91%, 87%, 1);
// $black-coral: hsla(218%, 19%, 38%, 1);
// $dark-sienna: hsla(348%, 51%, 12%, 1);
// $sonic-silver: hsla(229%, 4%, 48%, 1);

/* RGB */
$smoky-black: rgba(18, 3, 9, 1);
$black-coral: rgba(252, 222, 190, .85);
$very-pale-orange: rgba(79, 93, 117, 1);
$dark-sienna: rgba(46, 15, 21, 1);
$sonic-silver: rgba(117, 119, 128, 1);
