$smoky-black: rgba(18, 3, 9, 1);
$very-pale-orange: rgba(252, 222, 190, 1);
$black-coral: rgba(79, 93, 117, 1);
$dark-sienna: rgba(46, 15, 21, 1);
$sonic-silver: rgba(117, 119, 128, 1);

.row {
  margin: 22.5% auto;
}

.top-bar {
  background-color: $dark-sienna;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $dark-sienna;
  color: $very-pale-orange;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: $very-pale-orange;
}

.button.expand, div.column.text-center {
  background-color: $black-coral;
  padding: 5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: $dark-sienna;
  text-shadow: 1px 1px 1px #607599;
}

.flash.flash-notice {
  color: $very-pale-orange;
  background-color: $dark-sienna;
  padding: .5rem;
  font-family: 'Roboto Slab', serif;
}
