@import "./colors";

.columns.medium-8.text-center.greeting {
  margin-left: 12%;
  margin-top: 8%;
  max-width: 35%;
  padding: 2%;
  font-size: 36px;
  color: $dark-sienna;
  background-color: $black-coral;
}

.greeting-top {
  padding-bottom: 5%;
  border-bottom: 2px solid $dark-sienna;
}

.greeting-bottom {
  padding-top: 4%;
}

.banner {
  color: $dark-sienna;
  font-size: 3.5vw;
}

.columns.medium-4.text-center {
  margin-right: 12%;
  margin-top: 8%;
  background-color: $black-coral;
  padding: 2.5rem;
  font-size: 36px;
  color: $dark-sienna;
}

label, em {
  color: $dark-sienna;
  font-size: 16px;
  text-align: left;
}
