@import "./colors";

.row.greeting-page {
  margin: 10% auto;
}

.columns.small-8.text-center.greeting {
  max-width: 50%;
  padding: 2%;
  font-size: 36px;
  color: $dark-sienna;
  background-color: $black-coral;
}

.banner {
  color: $dark-sienna;
  font-size: 3.5vw;
}

.columns.small-4.text-center.signup {
  background-color: $black-coral;
  padding: 3rem;
  font-size: 36px;
  color: $dark-sienna !important;
}

label, em {
  color: $dark-sienna;
  font-size: 16px;
  text-align: left;
}
