@import "./colors";

.rows {
  margin: auto 10%;
}

.columns.medium-5.text-center.invoice {
  background-color: $black-coral;
  padding: 3rem;
  font-size: 36px;
  color: $dark-sienna;
}

.columns.medium-5.text-center.list {
  padding: 3rem;
  font-size: 36px;
  color: $dark-sienna;
}

.invoice-item {
  background-color: $black-coral;
  padding: 2%;
  border-bottom: solid black;
  color: $dark-sienna;
}

.account-tile {
  font-size: xx-large;
  color: $black-coral;
  padding: 2%;
  border-bottom: solid black;
  background-color: $dark-sienna;
}

label, em {
  color: $dark-sienna;
  font-size: 16px;
  text-align: left;
}
