@import "./colors";

.column.medium-5.text-center.invoice {
  background-color: $black-coral;
  padding: 3rem;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: $dark-sienna;
  text-shadow: 1px 1px 1px #607599;
}

.column.text-left.medium-5 {
  background-color: $black-coral;
  padding: 3rem;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: $dark-sienna;
  text-shadow: 1px 1px 1px #607599;
}
