@import "./colors";

.row.form {
  margin: 1% auto;
}

.column.small-8.text-center.invoice {
  width: fit-content;
  background-color: $black-coral;
  padding: 1.5%;
  font-size: 36px;
  color: $dark-sienna;
  box-shadow: -3.5px 4px 0px #163463;
}

.column.small-4.text-center.form {
  background-color: $black-coral;
  padding: 1.5%;
  font-size: 36px;
  color: $dark-sienna;
  box-shadow: -3.5px 4px 0px #163463;
}

.dropzone-icon {
  width: 100%;
  height: 100%;
}

.special-field {
  padding-left: 15%;
  margin: auto;
  padding: auto;
}

td:hover {
  background-color: #068BB7;
}

td:active {
  background-color: #163463;
}
