/* Coolors Exported Palette - coolors.co/120309-fcdebe-4f5d75-2e0f15-757780 */

/* HSL */
$color1: hsla(336%, 71%, 4%, 1);
$color2: hsla(31%, 91%, 87%, 1);
$color3: hsla(218%, 19%, 38%, 1);
$color4: hsla(348%, 51%, 12%, 1);
$color5: hsla(229%, 4%, 48%, 1);

/* RGB */
$color1: rgba(18, 3, 9, 1);
$color2: rgba(252, 222, 190, 1);
$color3: rgba(79, 93, 117, 1);
$color4: rgba(46, 15, 21, 1);
$color5: rgba(117, 119, 128, 1);