@import "./colors";

.row.column.text-center {
  margin-left: 36%;
  margin-top: 6%;
  max-width: 30%;
  background-color: $black-coral;
  padding: 3rem;
  font-size: 36px;
  color: $dark-sienna;
}

.line {
    border: 1.5px solid $dark-sienna;
    margin-top: 12%;
    margin-bottom: 12%;
}

.actions {
  font-size: 24px;
}
